*{
    margin:20;
     padding: 0; 
    box-sizing:border-box;
}

.top-middle-header{
    text-align: center;
   position:relative;   /*  relative */
    top:0;
    left: 50%;
    transform:translateX(-50%); 
    width:100%;
    padding: 20px 0;
    /* justify-content: center; */
}
.green-text{
    color:green;
}
.line-after-header{
    border: none;
    border-top: 3px solid #000;
    margin-top: 20px;
    padding: 20px 0; 
     width:calc(50%+ 50px); 
    width:50%;
     text-align: center; 

}
.short-description{
    font-size:18px;
}
.sub-header{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.sub-head{
    font-size:25px;
    margin:12px;
    margin-bottom: 10px;
} 
.line-under-subheader{
    border: none;
    border-top: 3px solid #000;
    margin-top: 20px;
    padding: 20px 0; 
     width:calc(50%+ 50px); 
    width:50%;
     text-align: center; 
    /* border:none;
    border-top:2px solid #000;
    margin:10px 0;
    width:50%; */
    /* margin-left:0; */
}



.container{
    width:100%;
    height :45vh;
    background:#FFFFFF;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 0;

}

.card{
    height: 85%;
    width: 245px;
    perspective:1500px;
    cursor: pointer;  
}
.card-inner{
    position:relative;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transform-style:preserve-3d;
    transition: transform 1s;
    background-color: rgb(58, 54, 142);
    /* margin: 20px; */
}

.name{
    background-color:#FFEEB2;
    position: absolute;
   bottom:-7%;
  
  width: 100%;
  text-align:justify;
  padding:0; /* Adjust padding */
  margin: 0;
  height:5em;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
 text-align: center;
/* justify-content: space-around; */


}
.name p{
 margin-top: -9px;
 font-size: 20px;
        
}
.dot{
    height: 18px ;
    width: 18px;
    padding:0;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: block;
    background-color:#EAD793;
    position: absolute;
    top: 6px;
    left:6px;
}


.front-face{
    backface-visibility:hidden;
    
}
.card-inner img{
    display: flex;
    position:absolute;
    width:100%;
    /* margin-bottom:-20px; */
   
    background-color:transparent;
    /* width:100%;
    align-items:center;
    border-radius:10px 10px 0 0;
    height:auto;
    margin:auto;
    position: absolute; */
    /* padding: absolute; */
     
   /* display: flex;
    position:relative;
    width:100%;
    margin-bottom:-20px;
z-index:-1; */

}
.front-face img{
    display: flex;
    position:relative;
    width:100%;
    /* margin-bottom:-20px; */
   
    background-color:transparent; 

}
.back-face{
    backface-visibility: hidden;
    background:#2B2F26;
    color:#FFFFFF;
    position:absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    border-radius:10px;
    display: flex;    /*to  make text in the center*/ 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:rotateY(180deg);
    /* max-height: 300px; */
   
    padding: 20px;
}

.back-face h2{
    font-size: 20px;
    margin-top:5px;
    font-weight:600;
}

 .para{
    font-size: 16px;
    font-weight:300;
    margin:1px;
    overflow:auto;
    height:90%;
    /* display:none; */
}
.social-media{
    text-align: center;
   
}
.social-media span{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-left: 0; 
}

.social-media i{
    color:#3f7be1;
    width:0px;
    
    line-height:40px;
    font-size:20px;
    background:transparent;
    margin-right: 0; 
    
    /* margin:25px 6px 25px 0; */
    /* border-left:0;
    margin-left:0 ; */
     }

.social-media a{
    text-decoration: none;

}


.card:hover .card-inner{
    transform: rotateY(-180deg);
}

@media(max-width:700px){
    .top-middle-header{
        text-align: center;
       position:relative;   /*  relative */
        top:0;
        left: 50%;
        transform:translateX(-50%); 
        width:100%;
        padding: 20px 0;
        /* justify-content: center; */
    }
    .container{
        width:100%;
        height :45vh;
        background:#FFFFFF;
        justify-content:center;
        display: inline;
        
        flex-direction: column;
        align-items: relative;
        justify-content:space-between;
        margin: 0;
    
    }

    .card{
        height: 85%;
        width: 85%px;
        perspective:1500px;
        cursor: pointer;
        margin:25px auto ;
    }
   
        .line-after-header{
            border: none;
            border-top: 3px solid #000;
            margin-top: 20px;
            padding: 20px 0; 
             width:calc(50%+ 50px); 
            width:100%;
             text-align: center; 
}
}